---
# Installation MariaDB

- name: Mettre à jour le cache APT
  ansible.builtin.apt:
    update_cache: yes

- name: Installer MariaDB Server
  ansible.builtin.apt:
    name: mariadb-server
    state: present

- name: S'assurer que MariaDB est démarré
  ansible.builtin.command: bash -lc "service mysql start || service mariadb start || mysqld_safe --datadir=/var/lib/mysql &"
  changed_when: false

# Création DB + user GLPI
- name: Créer base et utilisateur GLPI
  ansible.builtin.shell: |
    mysql -uroot -p'{{ mariadb_root_password }}' <<EOF
    CREATE DATABASE IF NOT EXISTS glpi;
    CREATE USER IF NOT EXISTS 'glpi'@'localhost' IDENTIFIED BY '{{ glpi_db_password }}';
    GRANT ALL PRIVILEGES ON glpi.* TO 'glpi'@'localhost';
    GRANT SELECT ON \`mysql\`.\`time_zone_name\` TO 'glpi'@'localhost';
    FLUSH PRIVILEGES;
    EOF
  changed_when: false
